- name: Executar script PowerShell local
  hosts: windows
  vars:
    tenant: "{{ tenant_input }}"  # Essa variável será fornecida ao iniciar o job
  tasks:

    - name: Garantir que a pasta 'scriptverif' existe na área de trabalho
      ansible.windows.win_file:
        path: '{{ ansible_env.USERPROFILE }}\Desktop\scriptverif'
        state: directory

    - name: Importar o config.json
      ansible.windows.win_copy:
        src: ./config.json
        dest: '{{ ansible_env.USERPROFILE }}\Desktop\scriptverif\config.json'

    - name: Copiar script para o host
      ansible.windows.win_copy:
        src: ./principalverif.ps1
        dest: '{{ ansible_env.USERPROFILE }}\Desktop\scriptverif\principalverif.ps1'

    - name: Executar script PowerShell com tenant
      ansible.windows.win_shell: >
        powershell.exe -ExecutionPolicy Bypass -File "{{ ansible_env.USERPROFILE }}\Desktop\scriptverif\principalverif.ps1" -tenant "{{ tenant }}"
